.author {
  margin: 0;
  text-align: start;
  .h1 {
    text-align: start;
    border-bottom: 1px solid #283233;

    display: block;
    border-right: 1em;
  }
  .plusIcon {
    color: #184485;
  }
  .authorButton {
    cursor: pointer;
  }
}
