.author {
  margin: 0;
  text-align: start;
  .h1 {
    text-align: start;
    border-bottom: 1px solid #000;
    padding-right: 2em;

    display: block;
    border-right: 2em;
  }
  .addAuthor {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .plusIcon {
    color: #0c493e;
  }
}
